
.header{
  position:fixed;
   z-index: 100;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: rgba(152, 251, 152, 0.404);
    margin-top: 0;  
  }
  .navbar .box1{
    padding:23px;
  }
  .navbar .box2{
    padding:8px;
     margin: 10px;
     border-radius: 10px;
  }
  .navbar .box3{
    padding:6px;
    margin : 12px;
    border-radius: 8px;
  }

  .navbar .box4{
    float:left;
     padding:10px;
  }
  .navbar .box5{
    float:right;
  }
  @media screen and (max-width:420px){
    .navbar .box5 {
      float:left;
      width : 50%;
      position: relative;
    }
   
  }

  .hero{
    width:100%;
    margin-top:65px; 
  }
  @media screen and (max-width:420px){
    .hero {
      float:none;
      width : 100%;
      position: relative;
      margin-top:0px;
    }
   
  }
  
  .ele1 {
    float: left;
    font-size:20px;
    margin-right: 38px;
  }
  
  .dropbtn {
    display: inline-block;
    color:blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  @media screen and (max-width:420px){
    .ele1 {
      float:none;
      width : 50%;
      position: relative;
    }
    .header {
      position: relative;
    }
  }
  
  .dropdown:hover .dropbtn {
    background-color:rgb(206, 222, 236);
  }
  
  .ele1.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color:rgb(38, 8, 87);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
 
  html { overflow-y: scroll; }
  body { position: absolute; }


.navigation {
  width: 300px;
  height: 1200px;
  background-color: Gainsboro;
  position:auto;
}
@media screen and (max-width:420px){
  .navigation {
    float:none;
    text-align: center;
    width : 100%;
    position: relative;
    height: 100%;
    margin-top:-15px;
  }
}
.mainmenu, .submenu {
  list-style: none;
  padding: 0;
  margin: 15px; 
}

.mainmenu a {
  display: block;
  background-color: Gainsboro;
  text-decoration: none;
  padding: 10px;
  color: rgb(71, 8, 8);
  overflow: auto;
}

.mainmenu a:hover {
    background-color: #C5C5C5;
}

.mainmenu li:hover .submenu {
  display: block;
  max-height: 200px;
}

.submenu a {
  background-color: #777;
}

.submenu a:hover {
  background-color: #666;
}

.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.8s ease-out;
}

.main {
  width: 100%;
  height: 1500px;
  border: none;
  display: flex;
  margin-top: 0%;
  flex-wrap: wrap;
}

.main .flex1{
  flex: 25%;
}
.main .flex2{
  flex: 75%;
}
 

.card {
  width: 210px;
  height: 195px;
  position: relative;
  display: inline-block;
  box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 10px;
  margin-left: 0px;
  padding: 0;
}
@media screen and (max-width:420px){
  .card {
    flex: 25%;
    width: 25%;
    position: relative;
  } 
}
@media screen and (max-width:400px){
  .card {
    flex: 50%;
    width: 50%;
    position: relative;
  } 
}
@media screen and (max-width:380px){
  .card {
    flex: 100%;
    width: 100%;
    position: relative;
  } 
}



.card .width{
  width:100%;
}
.card .text{
  text-align: center;
}

.card .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width:100%;
}

.card:hover .img-top {
 display: inline;

}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 9%;
  position: fixed;
  background-color: slateblue;
  text-align: center;
  font-size: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  z-index: 100;
}

.footer li{
  float:left;
  font-size:20px;
  margin-right: 38px;
}
@media screen and (max-width:320px){
  .footer li{
    float:none;
    width : 100%;
    position: relative;
  }
  
}


    
  
    



    
  
    

